body {
  padding-top: 50px;
}

.center {
  text-align: center;
  align-content: center;
}

.photoObs {
  width: 150px;
  height: 150px;
}

.obs {
  margin-left: 10px;
}

.lastObsPic {
  object-fit: cover;
  width: 150px;
  height: 150px;
  float: left;
}
