
.bgnews{
  height: 30px;
  color: #747473!important;
  background: white;
  border: 3px solid white;

}
/*///////////////////////////////////////////////////////////////*/
/*////////// homepage//////////*/

/*////////// parti 1 //////////*/
/*.home1{
  color: white;
  height: 433px;
  background-size: 100% 433px;
  background-image: url("../images/image-accueil-optimisée2.jpg");
  width: auto;
  background-repeat: no-repeat;

}*/
.home1{
  color: white;
  height: 550px;
  background-size: cover;
  background-image: url("../images/imageaccueilpierre.jpg");
  background-repeat: no-repeat;
}
@media screen and (min-width: 720px) and (max-width: 1500px) {
  .home1{
    color: white;
    height: 433px;
    background-size: cover;
    background-image: url("../images/image-accueil-optimisée2.jpg");
    width: auto;
  background-repeat: no-repeat;

  }

}

/*////////// commun parti 2 et 3 //////////*/
.home{
  max-width:1200px
}

/*////////// parti 2 //////////*/
.home2{
  padding-top: 100px ;
  height: 500px;
  background-color: #e4e4db;
}
.bg-home2{
    background-color: #e4e4db;
}
.btng{
  /*display: inline-block;*/
  width: 450px;
}
.btn1{
  float: left;
  width: 50%;
}
.btn2{
  float: left;
  width: 50%;
}

/*////////// parti 3 //////////*/
.home3{
  padding-top: 100px ;
  padding-bottom: 50px;
  height: 300px;
}

.text-home3{
  /*margin-top: 50px;*/
}

.picto{
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 20px
}
.picto:hover{
  height: 160px;
  margin-bottom: 10px
}


/*////////////////////////////////////////////////////////////*/
/*////////// bouton site commun //////////*/
.btn-site{
  font-size: 2rem;
  font-weight: 700;
  height: 57px;
  width: 250px;
  color: #00ac98;
  background-color: rgba(255, 255, 255, 0.8);
  border: 2px solid #00ac98 ;
  -webkit-border-radius: 20px;
     -moz-border-radius: 20px;
          border-radius: 20px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

.btn-site:hover{
  color: white;
  border: 2px solid #ff5b00;
  background: #ff5b00;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.8);
  /*font-weight: bold;*/
}

.btn-site-orange{
  font-size: 2rem;
  font-weight: 700;
  height: 57px;
  width: 250px;
  color: white;
  background: #ff5b00;
  border: 2px solid #ff5b00;
  -webkit-border-radius: 20px;
     -moz-border-radius: 20px;
          border-radius: 20px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.7);
}
.btn-site-orange:hover{
  color: white;
  font-size: 2rem;
  font-weight: 700;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.8);
}




/*///////////////////////////////////////////////////////////////////*/
/*css page profil(user)*/

.pagination>li>a,
.pagination>li>span {
  color: #ff5b00;
  border: 1px solid #ff5b00;
}
.pagination>li.active>a {
  background: #ff5b00;
  color: #fff;
  border: 1px solid #ff5b00;
}
.pagination>li>a:hover{
  color: #493c32;
  border: 1px solid #ff5b00;
}
.pagination>li.active>a:hover {
  background: #ff5b00;
  color: #fff;
  border: 1px solid #ff5b00;
}




/*///////////////////////////////////////////////////////////////////*/

.bgform{
  background-size: 50%;
  background-repeat: no-repeat;
  background-image: url("../images/Fond_de_formulaire@3x.png");
}



/*css formulaire commun*/

.form{
  width:600px;
}

@media screen and (max-width: 720px){
  .form{
    width:90%;
  }
}

.form-control {
  border: 0px solid ;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
  outline: 0;
  box-shadow: 0px 0px 0px #aaa;
  background: transparent;
  border-bottom: 3px solid #00ac98;
}
.form-control:focus {
  border: 0px solid #ff5b00;
  outline: 0;
  background: transparent;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
  border-bottom: 3px solid #ff5b00;
}

label{
text-transform: uppercase;
}
Label:after{
content: " *";
color: red;
}

.etoile:after{
content: "";
}

#newsletter{
text-transform: none;
}
#newsletter:after{
content: "";
}

select{
  text-align: center;
  background-color: white;
  font-size: 2rem;
  padding: 5px 0px 5px 0px;
  border: 3px solid #ff5b00;
  height: 57px;

}


/*///////////////////////////////// TEST CHECKBOX  /////////////////////////////////////////////////*/

#fos_user_registration_form_newsletter{
      border-color: red;
    border-bottom: 50px solid #ff5b00 !important;
    background-color:red!important;
}
[type="checkbox"]:checked {
  color: red;
  background-color: blue;
}
