/*///////////////////////////////////////////////////////////////////*/
/*css page accueil est menu*/

.logomenu {
  height: 50px;
  width: auto;

}
.navbar{
  /*background-color: red;
  border-bottom: 5px solid black;*/
  box-shadow: 0px 2px 12px #aaa;
}

.home1{
  color: white;
  height: 550px;
  background-size: cover;
  background-image: url("../images/imageaccueilpierre.jpg");
  background-repeat: no-repeat;
}
/*@media screen and (min-width: 720px) and (max-width: 1500px) {
  .home1{
    color: white;
    height: 433px;
    background-size: 100% 433px;
    background-image: url("../images/image-accueil-optimiseÌe2.jpg");
    width: auto;
  background-repeat: no-repeat;

  }
}*/

.home2{
  margin-top: 50px ;
  height: 300px;


}
.home3{
  margin-top: 50px ;
  height: 300px;

}
.picto{
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 20px
}
.picto:hover{
  height: 160px;
  margin-bottom: 10px
}

.btn-site{
  height: 40px;
  color: #00c4b6;
  background-color: rgba(0, 0, 0, 0.0);
  border: 2px solid #00c4b6 ;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}
.btn-site:hover{
  height: 40px;
  color: white;
  border: 2px solid #ff5b00;
  background: #ff5b00;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
  font-weight: bold;
}

.btn-site-orange{
  height: 40px;
  color: white;
  background: #ff5b00;
  border: 2px solid #ff5b00;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}
.btn-site-orange:hover{
  font-weight: bold;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.8);
}


/*///////////////////////////////////////////////////////////////////*/
/*css page profil(user)*/

.pagination>li>a,
.pagination>li>span {
  color: orange;
  border: 1px solid orange;*
}
.pagination>li.active>a {
  background: orange;
  color: #fff;
  border: 1px solid orange;
}
.pagination>li>a:hover{
  color: red;
  border: 1px solid orange;
}
.pagination>li.active>a:hover {
  background: pink;
  color: #fff;
  border: 1px solid orange;
}


/*.nav-tabs > li.active >a {
    float:none;
    display:inline-block;
    background: orange;
}

.nav-tabs > li.active >a {
    float:none;
    display:inline-block;

}
.nav-tabs {
    text-align:center;
}*/




/*///////////////////////////////////////////////////////////////////*/
/*css formulaire*/

.form-control {
  border: 0px solid;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
  outline: 0;
  box-shadow: 0px 0px 0px #aaa;
  background: transparent;
  border-bottom: 2px solid black;
}
.form-control:focus {
  border: 1px solid red;
  outline: 0;
  background: transparent;

  border-bottom: 2px solid red;
}
