{% trans_default_domain 'FOSUserBundle' %}

<div class="container">
  <div class="col-md-offset-4 col-md-4">
    <h1 class="text-center">Changer le mot de passe</h1>
    <br>
    {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
        {{ form_widget(form) }}
    <br>
    <div class="text-center">
      <input class"btn-orange" type="submit" value="{{ 'change_password.submit'|trans }}" />
    </div>
    {{ form_end(form) }}
</div>
