
<head>
	<meta charset="utf-8" />
    <link rel="stylesheet" href="style.css" />
		<!-- Bootstrap -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<title>Découvrez l'ornithologie du Web | Nos Amis les Oiseaux</title>
</head>

<div class="container">


<body>

	<div class="bloc1">
		<h1>Observer les oiseaux pour la science</h1>
		<p>S'instruire et s'amuser tout en faisant avancer la recherche</p>
	</div>


	<div class="bloc2">
		<h2>Qui sommes-nous ?</h2>
		<p>Nos Amis les Oiseaux est une association regroupant des passionnés de la nature et plus particulièrement d'ornithologie. Amateurs ou professionnels, nous observons et étudions le monde des oiseaux.</p>
		<p>Notre site internet a été créé dans le but d'allier <strong>ornithologie et recherche scientifique</strong>.</p>
	</div>


	<div class="bloc3">

		<h2>Comment ça marche ?</h2>
		</div>

		<div class="bloctext">
			<h3>Observer</h3>
			<p>Levez les yeux et observez les oiseaux, où que vous vous trouviez.</p>
		</div>

		<div class="bloctext">
			<h3>Analyser</h3>
			<p>Identifiez l'oiseau aperçu. Relevez son espèce, sa localisation, la date... Et pourquoi pas une photo ! </p>
		</div>

		<div class="bloctext">
			<h3>Partager</h3>
			<p>Soumettez votre observation à la communauté. Les données collectées contribuent à la science !</p>
		</div>



	<div class="bloc4">
		<h2>Faire avancer la science</h2>
		<p>La collecte de données sur les oiseaux est une source d'information précieuse pour les scientifiques. C'est un indicateur de l'état de santé de la nature.</p>
		<p>En partageant vos observations, vous contribuez à un programme de recherche visant à étudier les effets du climat, de l'urbanisation et de l'agriculture sur la biodiversité.</p>
		<p>Chaque observation est analysé par un naturaliste avant d'être validée. Soyez rassuré et lancez-vous !</p>
	</div>


	<div class="bloc5">
		<h2>Qu'attendez-vous ?</h2>
	</div>

</body>

</div>
