{% extends 'OCNAOBundle::layout.html.twig' %}

{% block title %}Participer à un projet scientifique | Nos Amis les Oiseaux{% endblock %}
{% block meta %}
  <meta name="description" content="Découvrez comment fonctionne notre outil de partage d'observations, l'identification des oiseaux et les bienfaits pour la recherche scientifique." />
{% endblock %}

{% block faq %}class="menuactive"{% endblock %}
{% block faq2 %}class="menuactive"{% endblock %}
{% block faq3 %}class="menuactive"{% endblock %}
{% block faq4 %}class="menuactive"{% endblock %}



{% block body %}
<h1>Comment participer au projet scientifique ?</h1>


{% endblock %}
