
{% extends 'OCNAOBundle::layout.html.twig' %}

{% block faq %}class="menuactive"{% endblock %}
{% block faq2 %}class="menuactive"{% endblock %}
{% block faq3 %}class="menuactive"{% endblock %}
{% block faq4 %}class="menuactive"{% endblock %}



{% block body %}
<h1>comment ca marche</h1>


{% endblock %}
