{% extends 'OCNAOBundle::layout.html.twig' %}

{% block title %}Mentions Légales | Nos Amis les Oiseaux{% endblock %}
{% block meta %}
  <meta name="description" content="Retrouvez toutes les mentions obligatoires sur notre communauté de passionnés d'ornithologie. " />
{% endblock %}



{% block body %}
<h1>Mentions Légales</h1>

{% endblock %}
