{% extends 'OCNAOBundle::layout.html.twig' %}

{% block body %}
<div class="container">
  <div class="row">
    <h1>Resultats de la recherche</h1>

    <button type="button" class="btnListe hidden">Liste</button>
    <button type="button" class="btnCarte hidden">Carte</button>

    <div id='Observations' class="col-md-6 col-xs-12">
      {% for result in results %}
        {{ result.user.username }}
      {% endfor %}
    </div>

    <div id="coordonnees" class="hidden">
      {% for result in results %}
        <div data-latitude="{{ result.latitude }}" data-longitude="{{ result.longitude }}"></div>
      {% endfor %}
    </div>

    <div id="Carte" class="col-md-6 col-xs-12">
      <div id="map"></div>
    </div>
  </div>
</div>

<script>
var resultArray = (function getGeoDataArray() {
  var $coords = $('#coordonnees').find('div');
  var resultsArray = [];
  for (var i = 0; i < $coords.length; i++) {
      var lat = $($coords[i]).data('latitude');
      var lng = $($coords[i]).data('longitude');
      var coord = [lat, lng];
      resultsArray.push(coord);
  }
  return resultsArray;
})();

function initMap() {
  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 5,
    center: { lat: 46.52863469527167, lng: 2.43896484375 }
  });

  for (var i = 0; i < resultArray.length; i++) {
      var result = resultArray[i];
      var marker = new google.maps.Marker({
          position: {lat: result[0], lng: result[1]},
          map: map,
      });
  }
}

if($(window).width()<=767) {
  $('#Carte').addClass('hidden');
  $('.btnListe').removeClass('hidden');
  $('.btnCarte').removeClass('hidden');
}

$('.btnListe').click(function() {
  if ($('#Observations').hasClass("hidden")) {
    $('#Observations').removeClass('hidden');
    $('#Carte').addClass('hidden');
  }
});

$('.btnCarte').click(function() {
  if ($('#Carte').hasClass("hidden")) {
    $('#Observations').addClass('hidden');
    $('#Carte').removeClass('hidden');
    initMap();
  }
});
</script>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCDwjyiE5EGvQcAaJPNkxATWhrxBUsb11A&callback=initMap">
</script>

{% endblock %}
