{% trans_default_domain 'FOSUserBundle' %}

  <div class="container">
    <div class="col-md-offset-4 col-md-4">
      <h1 class="text-center">Inscription</h1>
      <br>
      {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
          {{ form_widget(form) }}
      <br>
      <div class="text-center">
          <input class="btn-site-orange"type="submit" value="{{ 'registration.submit'|trans }}" />
      </div>
      <br>
    En cliquant sur "Créer un compte", vous acceptez nos<a href="#"> Conditions d'utilisation</a>.
    {{ form_end(form) }}

</div>
