{% extends 'OCNAOBundle::layout.html.twig' %}


{% block body %}
<div class="container">
  <div class="text-center">
    <h3>Parametre du compte</h3>
<p>Votre Pseudo: <b>{{ user.username }}</b>   <a href="/profile/edit">changer</a></p>
<p>Votre email: <b><a href="/profile/edit">{{ user.email }}</a></b></p>
<p><a href="/profile/change-password">Je ve changer mon mot de passe</a></p>
    <br>


{% if user.newsletter == true %}
<form action="">
  <input type="hidden" name="newsletter" value="false">
<input type="submit" value="Ne plus suivre la newsletter">
</form>
{% else %}
    <form action="">
<input type="hidden" name="newsletter" value="true">
<input type="submit" value="Suivre la newsletter">
   </form>
{% endif %}
  </div>

</div>


{% endblock %}
