{% extends 'OCNAOBundle::layout.html.twig' %}


{% block body %}
{% if result == false %}
<form method="post" action="{{ path('ocnao_profil_users') }}">
   <p><input type="text" name="pseudo" /></p>
</form>
{% else %}
<h3>{{user.username}}</h3>
{% endif %}

{% endblock %}
